<!--
  Goals:
  1. Complete the BaseDataCachingService to allow the caching of API calls, and their results.
  2. Guard the applicaiton against excommunicado users who don't have the right to see a list of dogs using app routes and the UserResolver, and your own guard class.
  3. Buid the application routes so it has a "blocked", "dogs list", and "dog" page.
  4. Complete the DogsListComponent so it can be used to get a list of dogs with pagination and limits, or search for dogs based on keywords.
  5. Complete the DogComponent to display a dog that our user may be interested in for their next adventure.
  6. Have fun with the design and make it "pop" in any way you'd like.
-->

<!-- Navigation -->
<nav>
  <app-sidebar></app-sidebar>
</nav>

<!-- Main Router Content -->
<main>
  <router-outlet></router-outlet>
</main>
